.Toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    height: 60px;
    padding: 0 20px;
    background-color: #7f3608;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Toolbar nav {
    height: 100%;
}